@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                    <span class="sr-only">Toggle cookie consent banner</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
            </div>
            <div class="collapse show navbar-collapse">
                <p class="navbar-text">
                    Para Acesso ao serviço deve-se aceitar os Termos de Uso. Informado pelo Administrador.
                </p>
                <div class="navbar-right">
                    @*<a asp-controller="Home" asp-action="Index" class="btn btn-info navbar-btn">Learn More</a>*@
                    <button type="button" class="btn btn-sm waves-effect waves-light" data-cookie-string="@cookieString" @*onclick="AceitaCoockie()"*@>Aceitar</button>
                </div>
            </div>
        </div>
    </nav>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        //$(function () {
        //    $('[data-toggle="tooltip"]').tooltip()
        //});
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();

        //function AceitaCoockie() {
        //    document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
        //        document.cookie = el.target.dataset.cookieString;
        //        document.querySelector("#cookieConsent").classList.add("hidden");
        //    }, false);

        //    console.log("Botão de Aceitar Clicado.");
        //}
    </script>
}
@*else
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        //$(function () {
        //    $('[data-toggle="tooltip"]').tooltip()
        //});
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();

        //function AceitaCoockie() {
        //    document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
        //        document.cookie = el.target.dataset.cookieString;
        //        document.querySelector("#cookieConsent").classList.add("hidden");
        //    }, false);

        //    console.log("Botão de Aceitar Clicado.");
        //}
    </script>
}*@